@import "../styles/variables.css";

body {
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out;
  font-family: sans-serif;
  color: var(--text-color);
  overflow-y: hidden;
}

/* Header component starts */
.ad-bg-color {
  background-color: #f0f0f0;
  color: #000;
}
/* Header component ends */
